/* GENERAL ***************************************************************** */

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}



/* TYPOGRAPHY ************************************************************** */

html {
    font-size: 18px;
}

h1 {
    font-size: 6rem;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    h1 {
        font-size: calc(48px + (96 - 48) * (100vw - 300px) / (600 - 300));
    }
}

@media only screen and (max-width: 300px) {
    h1 {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.5rem;
    padding: 2rem 0 1rem;
}

#warmimg {
    color: 	#3b5998;
    height: 3.5rem;
    padding: 1rem 0;
}

#passage {
    margin: 1rem 0;
    line-height: 1.5;
}



/* HEADER **************************************************************** */

header {
    background-color: #3b5998;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    padding: 2rem;
}



/* MAIN **************************************************************** */

main {
    padding: 2rem 12rem;
    min-height: 80vh;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    main {
        padding-right: calc(32px + (192 - 32) * (100vw - 600px) / (900 - 600));
        padding-left: calc(16px + (192 - 16) * (100vw - 600px) / (900 - 600));
    }
}

@media only screen and (max-width: 600px) {
    main {
        padding-right: 2rem;
        padding-left: 1rem;
    }
}

fieldset {
    border: none;
    text-align: center;
}

label {
    font-size: 1.5rem;
}

input[type="text"] {
    outline: none;
    border: 1px solid #3b5998;
    color: #3b5998;
    width: 9rem;
}

input[type="text"]::placeholder {
    color: #8b9dc3;
}

#cleamse-buttom {
    border: 1px solid #3b5998;
    color: #3b5998;
    outline: none;
    width: 8rem;
}

#gemerate-buttom {
    background:#3b5998;
    border: 1px solid #3b5998;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    outline: none;
    width: 13rem;
}

input:focus, input:hover, button:focus, button:hover {
    outline: 2px solid #3b5998;
}

@media only screen and (max-width: 500px) {
    input[type="text"], button[type="reset"], button[type="submit"] {
        width: 100%;
    }
}

#passage {
    margin: 2rem 0;
    padding: 0.7rem 1rem;
}

#passage-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#copy-buttom {
    background:#3b5998;
    border: 1px solid #3b5998;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    outline: none;
    width: 9rem;
}



/* FOOTER **************************************************************** */

footer {
    background-color: #3b5998;
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    padding: 2rem 1rem;
    height: 5rem;
}

footer a {
    color: white;
    font-size: 0.9rem;
}

footer a:hover {
    color: #8b9dc3;
}